/* =basic */
body, h1, h2, h3, h4, p { margin: 0; padding: 0; }
body, p { font-family: 'Josefin Sans', sans-serif; }

a { color: #4ea5e1; }
a:hover { opacity: 0.5; }

blockquote { color: #888; font-style: italic; }
blockquote p:before { content: '> '; }

.right { float: right; }

/* =header */
h1 a {
    display: block;
    font-size: 0;
    text-indent:200%;
    background: transparent url(../img/logo.svg) no-repeat top left;
    width: 304px;
    height: 69px;
}

h1 + p {
    margin-top: 1em;
    color: #666;
    font-size: 20px;
}

h2 a { color: #000; text-decoration: none; }

/* =footer */
footer p { text-align: right; }

h2 { margin: 1em 0 0.5em; color: #444; font-weight: normal; font-size: 30px; }
h2:first-letter { color: #93ca76; font-weight: bold; }

/* =container */
.container { width: 940px; margin: 1em auto; }


/* =footer(last paragraph) */
hr { border: 1px solid #fff; }

hr + p {
    margin-top: 1em;
    text-align: right;
}
